// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.activeLink{
    background-color: bisque;
    color:red;
}

.navbar-light.headerNav .navbar-nav .nav-link{
    color:rgb(90, 9, 9);
    font-weight: 767;
    padding:5px 5px;
}



